.textFamilyStyle {
    font-family: Brush Script MT, sans-serif;
    font-size: 400%;
    margin-left: 10px;
}
.textColor {
    color: #4fc7bd
}
.buttonColor {
    background-color: #4fc7bd;
    border: 0px;
}
.textFontFamilyWelcome {
    padding: 10px 15px;
}