<div class="wrapper" id="upMain">
    <div class="page-header section-dark" style="background-image: url('assets/img/background.jpg');">
        <div class="filter"></div>
        <div class="content-center" [@fadeIn-wrapper]>
            <div class="container">
                <div class="title-brand" >
                    <h1 class="textFamilyStyle textColor">Simply Travel</h1>  
                </div>
                
                <h2 class="presentation-subtitle text-center textColor textFontFamilyWelcome">Путешесвуй легко</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png');"></div>
        <h3 class="category-absolute grow" [@slideFadeIn-about]>
            <a class="textColor textFontFamilyWelcome" href="#about">
                О нас
                <p><i class="nc-icon nc-minimal-down"></i></p>
            </a>
        </h3>
    </div>
    <div class="main" id="about" >
      <div class="section">
          <div class="container">
              <div style="margin-top: -50px;"> 
                  <h3 class="textFontFamilyMain" style="text-align: center;">О нас</h3>
                  <p style="font-size: 140%;" class="textFontFamilyMain">Мы команда «Simply Travel» и мы организовываем путешествия «под ключ» по всей России. Теперь не нужно планировать поездки за год, 
                    встречаться в офисе с туроператором, оформлять загранпаспорт и визу, ведь наше агентство работает в online-среде и предлагает варианты для отдыха в 
                    пределах границ РФ! Благодаря «Simply Travel» и нашим персонализированным трипмейтам (гайдам по путешествиям для планшетов и смартфонов; 
                    с англ. trip'mate – товарищ по путешествию) Ваши представления о незабываемом отдыхе перестанут ограничиваться мечтами о турецких отелях, 
                    парижской Эйфелевой башне и итальянской пицце! Мы предлагаем доступные путешествия по России на любой вкус: как типовые (йога-туры, эко-туры, экстрим-туры и пр.), 
                    так и разрабатываемые индивидуально для каждого клиента, исходя из его предпочтений. Необходимо лишь заполнить специальную форму на нашем сайте и указать сумму, 
                    которую Вы готовы вложить в отпуск.</p>
                    
              </div>
          </div>
      </div>
    </div>
</div>