<div class="wrapper">
    
    <div class="page-header section-dark" style="background-image: url('assets/img/background.jpg');">
        
        <div class="filter"></div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png');"></div> 
        <div class="content-center" [@fadeIn-wrapper]>
            <div class="container">
                <div class="title-brand">
                    <h2 class="textFontFamilyWelcome" style="margin-bottom: 20px;" >Мы собрали туры на любой вкус</h2>

                    <div class="container" style="width: 800px; margin-bottom: -70px; margin-left: -33px;">
                        <div class="page-carousel" style="text-align: center; background-color: rgba(0, 0, 0, 0);">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                
                                    <div class="container">
                
                                        <div class="row">
                                            <div class="col-md-6 grow">
                                                <a href="#yoga">
                                                    <h3 class="textFontFamilyWelcome" style="color:white; text-align: center;">Йога туры</h3>
                                                    <img src="assets/img/yoga.jpg" style="width: 195px; height: 195px; border-radius: 60px;">
                                                </a>
                                            </div>
                                            <div class="col-md-6 grow">
                                                <a href="#extrim">
                                                    <h3 class="textFontFamilyWelcome" style="color:white; text-align: center;">Экстрим туры</h3>
                                                    <img src="assets/img/extrim.jpg" style="width: 195px; height: 195px; border-radius: 60px;">
                                                </a>
                                            </div>
                                        </div>
                
                                    </div>
                
                                    <div class="container" style="margin-bottom: 50px">
                
                                        <div class="row">
                                            <div class="col-md-6 grow">
                                                <a href="#gornolyzh">
                                                    <h3 class="textFontFamilyWelcome" style="color:white; text-align: center;">Горнолыжные туры</h3>
                                                    <img src="assets/img/gor_lyzh.jpg" style="width: 195px; height: 195px; border-radius: 60px;">
                                                </a>
                                            </div>
                                            <div class="col-md-6 grow">
                                                <a href="#ekskurs">
                                                    <h3 class="textFontFamilyWelcome" style="color:white; text-align: center;">Экскурсионные туры</h3>
                                                    <img src="assets/img/ekskur.jpg" style="width: 195px; height: 195px; border-radius: 60px;">
                                                </a>
                                            </div>
                                        </div>
                
                                    </div>
                
                                </ng-template>
                                <ng-template ngbSlide>
                                    
                                    <div class="container">
                
                                        <div class="row">
                                            <div class="col-md-6 grow">
                                                <a href="#eko">
                                                    <h3 class="textFontFamilyWelcome" style="color:white; text-align: center;">Экотуры</h3>
                                                    <img src="assets/img/eko.jpg" style="width: 195px; height: 195px; border-radius: 60px;">
                                                </a>
                                            </div>
                                            <div class="col-md-6 grow">
                                                <a href="#gastro">
                                                    <h3 class="textFontFamilyWelcome" style="color:white; text-align: center;">Гастротуры</h3>
                                                    <img src="assets/img/gastro.jpg" style="width: 195px; height: 195px; border-radius: 60px;">
                                                </a>
                                            </div>
                                        </div>
                
                                    </div>
                
                                    <div class="container" style="margin-bottom: 50px; margin-left: 24%;">
                
                                        <div class="row">
                                            <div class="col-md-6 grow">
                                                <a href="#mistery">
                                                    <h3 class="textFontFamilyWelcome" style="color:white; text-align: center;">Mistery тур</h3>
                                                    <img src="assets/img/mestery.jpg" style="width: 195px; height: 195px; border-radius: 60px;">
                                                </a>
                                            </div>
                                        </div>
                
                                    </div>
                
                                </ng-template>
                                
                            </ngb-carousel>
                        </div>
                    </div>

                </div>   
            </div>
        </div>
    </div>        
    <div class="main" id="yoga">
        <h2 style="text-align: center; margin-top: 50px;">Выберите подходящий вам тур</h2>
        <div class="section" style="text-align: center;">
            <div class="container">
                <hr style="margin-top: -50px;">
                <div style="padding-bottom: 15px; margin-top: 25px;" >
                    <h3 style="text-align: center;">Йога туры</h3>
                    <img src="assets/img/yoga_about.jpg" class="pictureAbout">
                    <p style="text-align: justify;">Йога-тур – это путешествие, сочетающее в себе экскурсионный и активный туризм, а также регулярные занятия йогой и медитации. 
                        Мы организовываем разнообразные йога-туры по России, которые кроме практических занятий включают в себя лекции от лучших преподавателей йоги 
                        страны, оздоровительные процедуры, детокс и многое другое. Наши путешествия рассчитаны на людей разных возрастов, с большим опытом занятий йогой 
                        или без него.</p>
                    <div id="extrim"></div>
                    <button class="btn btn-round" style="font-family: Century Gothic, sans-serif;">Заказать тур</button>
                </div>
                <hr>
                <div style="padding-bottom: 15px;">
                    <h3 style="text-align: center;">Экстрим туры</h3>
                    <img src="assets/img/extrim_about.jpg" class="pictureAbout">
                    <p style="text-align: justify;">Активный отдых в России – это отличный способ познакомиться с потрясающей красотой и величием нашей природы. Маршруты и виды туров поражают свои 
                        разнообразием: конные туры в Адыгее и сафари по ледяной глади Байкала, сплавы по горным алтайским рекам и подъемы на кавказские вершины, 
                        серфинг у камчатских берегов и дайвинг в затопленных пещерах Урала.</p>
                    <p style="text-align: justify;">Из экзотичных видов отдыха стоит попробовать сноубординг с вулканических склонов Камчатки или горные лыжи с заброской на вертолете на вершину там же. 
                        Не менее захватывающими будут походы за полярный круг во время полярного дня или походы в тундру под северным сиянием. 
                        В северных регионах России обязательно стоит попробовать прокатиться в собачей или оленьей упряжке, а также переночевать в традиционном жилище.</p>
                    <div id="gornolyzh"></div>
                    <button class="btn btn-round" style="font-family: Century Gothic, sans-serif;">Заказать тур</button>
                    
                </div>
                <hr>       
                <div style="padding-bottom: 15px;">
                    <h3 style="text-align: center;">Горнолыжные туры</h3>
                    <img src="assets/img/gor_lyzh_about.jpg" class="pictureAbout">
                    <p style="text-align: justify;">Горнолыжные курорты России с каждым годом приобретают все большую популярность. Они активно развиваются и приятно удивляют 
                        поклонников горных лыж и сноуборда, поскольку не уступают по комфорту, оснащённости и качеству трасс своим европейским «коллегам». 
                        А фантастические панорамы захватывают дух даже у самых искушенных любителей горных пейзажей.</p>
                    <p style="text-align: justify;">Безвизовость и бюджетность делают отдых на горнолыжных курортах России особенно привлекательными.</p>
                    <p style="text-align: justify;" >Simply Travel предлагает оценить по достоинству отдых на горнолыжных курортах Красной Поляны, Домбая и Приэльбрусья.</p>
                    <div id="ekskurs"></div>
                    <button class="btn btn-round" style="font-family: Century Gothic, sans-serif;">Заказать тур</button>
                </div>
                <hr>
                <div style="padding-bottom: 15px;">
                    <h3 style="text-align: center;">Экскурсионные туры</h3>
                    <img src="assets/img/ekskur_about.jpg" class="pictureAbout">
                    <p style="text-align: justify;">Россия богата как природными, так и рукотворными достопримечательностями, удивительными историческими постройками и культурными традициями. 
                        В России можно найти как невероятно красивые деревянные храмы, так и живописные уголки, созданные природой именно для приятного отдыха.</p>
                    <p style="text-align: justify;">Знакомство с Россией принято начинать с Москвы и Санкт-Петербурга – двух столиц нашей страны. Однако сегодня все большей популярностью пользуются 
                        туры в другие регионы, все больше новых впечатлений и открытий туристы получают от путешествий в Карелию, на Байкал и Алтай, в Якутию и на 
                        Дальний Восток.</p>
                    <div id="eko"></div>
                    <button class="btn btn-round" style="font-family: Century Gothic, sans-serif;">Заказать тур</button>
                </div>
                <hr>       
                <div style="padding-bottom: 15px;">
                    <h3 style="text-align: center;">Экотуры</h3>
                    <img src="assets/img/eko_about.jpg" class="pictureAbout">
                    <p style="text-align: justify;">Россия — идеальное место для экологического туризма! Во-первых, обширная территория нашей страны заселена всего лишь на 
                        половину. Во-вторых, по России проходят почти все климатические зоны планеты — от арктической до субтропической. Ну и в третьих, 
                        ландшафты у нас настолько разнообразны и удивительны, что 11 уникальных природных объектов уже включены в список всемирного наследия 
                        ЮНЕСКО и еще 15 областей ожидают добавления в него.</p>
                    <p style="text-align: justify;">Это значит, перед вами открывается огромный выбор мест для экологического туризма в России.</p>
                    <div id="gastro"></div>
                    <button class="btn btn-round" style="font-family: Century Gothic, sans-serif;">Заказать тур</button>
                </div>
                <hr>       
                <div style="padding-bottom: 15px;">
                    <h3 style="text-align: center;">Гастротуры</h3>
                    <img src="assets/img/gastro_about.jpg" class="pictureAbout">
                    <p style="text-align: justify;">Горнолыжные курорты России с каждым годом приобретают все большую популярность. Они активно развиваются и приятно удивляют 
                        поклонников горных лыж и сноуборда, поскольку не уступают по комфорту, оснащённости и качеству трасс своим европейским «коллегам». 
                        А фантастические панорамы захватывают дух даже у самых искушенных любителей горных пейзажей.</p>
                    <p style="text-align: justify;">Безвизовость и бюджетность делают отдых на горнолыжных курортах России особенно привлекательными.</p>
                    <p style="text-align: justify;" >Simply Travel предлагает оценить по достоинству отдых на горнолыжных курортах Красной Поляны, Домбая и Приэльбрусья.</p>
                    <div id="mistery"></div>
                    <button class="btn btn-round" style="font-family: Century Gothic, sans-serif;">Заказать тур</button>
                </div>
                <hr>       
                <div style="padding-bottom: 15px;">
                    <h3 style="text-align: center;">Mistery тур</h3>
                    <img src="assets/img/mistery_about.jpg" class="pictureAbout">
                    <p style="text-align: justify;">Данный раздел в разработке.</p>
                    <button class="btn btn-round" style="font-family: Century Gothic, sans-serif;">Заказать тур</button>
                </div>
            </div>
        </div>
    </div>
</div>

