<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register" [@fadeIn-wrapper]>
                          <h3 class="title">Добро пожаловать</h3>
                          <form class="register-form">
                              <label>Email</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>
                                <input type="text" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false" >
                              </div>
                              <label>Пароль</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                <input type="password" class="form-control" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false" >
                              </div>                              
                          </form>       
                          <button (click)="click()" style="background-color: white; border: 0px; color: #255c57;" class="btn btn-block btn-round">Войти</button>
                          <div class="forgot">
                              <a href="#" style="color: white;" class="btn btn-link">Забыли пароль?</a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<footer>Спасибо, что пользуетесь нашими услугами</footer>